.navbar-brand img {
    max-height: 150px;
    transform: translateY(-10px);
    margin-right: 30px;
}

#sovrapponi-1 {
    display: none;
}


.navbar-default .navbar-nav > li > a {
    font-size: 12px;
    color: #031b4e;
    font-weight: 600;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #0069ff;
}

@media screen and (max-width: 1050px) {

    .navbar-default {
        background-color: rgba(0,0,0,0.0);
        border: none;
        padding-top: 10px;
    }

    .navbar {
        position: absolute;
    }

    .navbar-default .navbar-nav > li > a {
        display: none;
    }

    #navbar--btn:hover {
        border-color: white;
        color: white;
        background-color: rgba(0,0,0,0.0);
    }

    #sovrapponi-1 {
        display: block;
    }

    #sovrapponi-0 {
        display: none;
    }


}

section .container-fluid {
    background-image: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}



@media screen and (max-width: 767px) {

    .navbar-default {
        background-color: #0248ff;
    }

    section .container-fluid {
        background-image: none;
        background-color: #0248ff;
    }
}

.nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-right {
    margin-right: 0;
}

#navbar--btn {
    border-color: #0069ff;
    color: #0069ff;
    font-weight: 700;
}

#navbar--btn:hover {
    border-color: white;
    color: white;
    background-color: #0069ff;
}

.navbar-brand {
    padding-right: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle {
    border: none;
}
