.navbar-brand img {
    max-height: 150px;
    transform: translateY(-68px);
}



@media screen and (max-width: 1050px) {

    .navbar-default {
        background-color: rgba(0,0,0,0.0);
        border: none;
        padding-top: 10px;
    }

    .navbar {
        position: absolute;
    }
}

section .container-fluid {
    background-image: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

@media screen and (max-width: 767px) {

    .navbar-default {
        background-color: #0248ff;
    }

    section .container-fluid {
        background-image: none;
        background-color: #0248ff;
    }
}

.navbar-default .navbar-nav > li > a {
    font-size: 10px;
    color: rgba(3,27,78,.75);
}

.navbar-default .navbar-nav > li > a:hover {
    color: #0069ff;
}


.nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
}
