.navbar-brand img {
    max-height: 225px;
    transform: translateY(-105px);
}



@media screen and (max-width: 1050px) {

    .navbar-default {
        background-color: rgba(0,0,0,0.0);
        border: none;
        padding-top: 10px;
    }

    .navbar {
        position: absolute;
    }
}

section .container-fluid {
    background-image: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 2100px;
}
